version: "3.8"
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: example
      POSTGRES_DB: appdb
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/postgresql_init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    ports:
      - "5432:5432"

  ingestion:
    build: ./ingestion
    depends_on:
    - postgres
    environment:
      DATABASE_URL: postgresql://app:example@postgres:5432/appdb
      VSD_FEEDS: "ACTU PEOPLE : https://vsd.fr/actu-people/feed/,
      TÉLÉ : https://vsd.fr/tele/feed/,
      SOCIÉTÉ : https://vsd.fr/societe/feed/,
      CULTURE : https://vsd.fr/culture/feed/,
      LOISIRS : https://vsd.fr/loisirs/feed/"
      PUBLIC_FEEDS: "DERNIÈRES ACTUALITÉS de Public.fr : https://www.public.fr/dernieres-actualites/feed,
      PEOPLE : https://www.public.fr/people/feed,
      TÉLÉ : https://www.public.fr/tele/feed,
      FAITS-DIVERS : https://www.public.fr/faits-divers/feed,
      LIFESTYLE : https://www.public.fr/lifestyle/feed
      "

      POLL_INTERVAL_SEC: "300"
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
    volumes:
      - qdrant_storage:/qdrant/storage
    environment:
      QDRANT__SERVICE__GRPC_PORT: 6334

  embedding:
    build: ./embedding
    depends_on:
      - postgres
      - qdrant
    environment:
      DATABASE_URL: postgresql://app:example@postgres:5432/appdb
      QDRANT_URL: http://qdrant:6333
      QDRANT_COLLECTION: articles
      BATCH_SIZE: "50"
    restart: unless-stopped

  embedding-service:
    build: ./embedding-service
    ports:
      - "8081:8081"

  backend:
    build: ./backend
    depends_on:
      - qdrant
      - embedding-service
    environment:
      QDRANT_URL: http://qdrant:6333
      EMBEDDING_SERVICE_URL: http://embedding-service:8081/embed
    ports:
      - "8000:8000"

volumes:
  pgdata: {}
  qdrant_storage: {}